* {
    --green: #82A284;
    --bright-green: #A3F7BF;
    --indigo: #003F5C;
    --navy: rgb(15 23 42);
    --orange: rgb(255 183 3);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5vh;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 2000px;
}

nav {

    position: fixed;
    width: 100%;
    background-color: black;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 100;
}

.header_title {
    font-size: 2rem;
    margin: .5rem;
    padding-left: 15px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    font-size: 2rem;
    width: 100%;
    padding-inline-start: 0;
}

nav li {
    padding: .5rem 2rem;
    cursor: pointer;
    position: relative;
}

nav li::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--green);
    z-index: -1;

    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform .5s ease-in-out;
}


nav li:hover::before {
    transform: scaleY(1);
}

nav a {
    text-decoration: none;
    color: white;
}

.mobile_toggle_menu {
    display: none;
    position: fixed;
    top: .75rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.mobile_toggle_menu .mobile_bar {
    height: 3px;
    width: 100%;
    background-color: white;
}

@media (width <= 1000px){

    .mobile_toggle_menu{
        display: flex;
        cursor: pointer;
        margin-top: 20px;
    }
    
    .navbar{
        flex-direction: column;
        flex-grow: 1;
    }

    .header_title, .nav_tabs{
        width: 100%;
    }

    .nav_tabs{
        display: none;
    }
    .nav_tabs.active{
        display: flex;
        
    }

    nav ul{
        flex-direction: column;
        text-align: center;
        background-color: darkcyan;
    }

}

