* {
    --green: #82A284;
    --bright-green: #A3F7BF;
}

body {
    box-sizing: border-box;
}
.intro {
    background-color: #003F5C;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro h1 {
    color: white;
    font-size: clamp(2.5rem, 5vw, 3rem);
    padding: 20px;
}

.intro_one, .intro_two {
    display: flex;
}

.intro_one span {
    flex: 0 1 20vw;
    
    /* background-color: skyblue; */
}

.intro_two span {
    flex: 0 1 30vw;
    
    /* background-color: skyblue; */
}

h1.section_title{
    margin: 0;
    padding: 25px;
    padding-inline-start: 5vw;
    /* border-bottom: 2px solid gold; */
    text-decoration: underline var(--bright-green);
    font-size: 3rem;
    color: white
}

.projects, .section_title{
    background-color: rgb(15 23 42);
}

.single_project {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    min-height: 80vh;
    max-width: 95vw;
    padding: 20px;
    /* border: 1px solid gold; */
}

.project_snapshots, .project_snapshots_2 {
    grid-row: 4/15;
    grid-column: 9/20;
    
    opacity: .65;
    z-index: 1  ;

    overflow: hidden;
}

img {
    max-height: 100%;
    max-width: 100%;



    overflow: clip;
}

.project_snapshots_2 {
    grid-row: 7/19;
    grid-column: 3/13;
}


.project_snapshots_2:hover img{
    transform:scale(1.25) ;

    transform-origin: 40% 0;
    transition: transform 1.5s, visibility .25s ease-in-out;
}

.project_detail, .project_detail_2 {
    max-width: 100%;
    padding: 36px;
    background-color: black;
    grid-column: 4/11;
    grid-row: 10/19;
    z-index: 100;

    display: grid;
    grid-template-rows: 1fr 5fr 1fr 2fr;
}

.project_detail_2 {
    grid-column: 11/18;
    grid-row: 5/13;
}


.project_detail > *, .project_detail_2 > * {
    color: white;
    position: relative;
}

.project_link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 24px;
}

.source_code, .live_view {
    padding: 10px;
    border-bottom: 3px solid grey;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.live_view {
    border-color: gold;
}

.test {
    position: absolute;
    background-color: pink;
}


@media (width <= 1200px) {
    .single_project {
        display: flex;
        flex-direction: column;
        align-items: center ;
    }

    .project_snapshots, .project_snapshots_2 {
        min-width: 90%;
        /* min-height: 70vh; */
        object-fit: contain;
        background-size: cover;

        padding: 5%;
    }

    .project_detail, .project_detail_2  {
        margin: 5%;
    }
}